<header>
  <a><img id="logo" src="assets/logo.jpg" alt="Logo de la pizzeria"></a>
  <div class="title">
      <h1 id="title">Fire Pizzeria</h1>
      <a id="añadir">Añadir pizzas</a>
      <a id="logout">Logout</a>
  </div>
</header>
<body>
  <br class="flex-container">
      <article class="block">
          <img class="pizza" src="assets/pizza.jpg" alt="Imagen de pizza">
          <a>Pizza 1</a>
      </article>
      <article class="block">
          <img class="pizza" src="assets/pizza.jpg" alt="Imagen de pizza">
          <a>Pizza 2</a>
      </article>
      <article class="block">
          <img class="pizza" src="assets/pizza.jpg" alt="Imagen de pizza">
          <a>Pizza 3</a>
      </article>
      <article class="block">
          <img class="pizza" src="assets/pizza.jpg" alt="Imagen de pizza">
          <a>Pizza 4</a>
      </article>
      <article class="block">
          <img class="pizza" src="assets/pizza.jpg" alt="Imagen de pizza">
          <a>Pizza 5</a>
      </article>
      <article class="block">
          <img class="pizza" src="assets/pizza.jpg" alt="Imagen de pizza">
          <a>Pizza 6</a>
      </article>
      <br><br>
</body>
